#menu{
	height: 50px;
	font-size: 20px;	
	margin: 50px auto;
	width: 100%;
	text-align: center;
	border-bottom: 1px dotted #aaa;
	/*background-color: red;*/
}
.bit{
	position: relative;
	height: 40px;
}
.anniu{
	width: 70px;
	height: 30px;
	right: 15px;
	top: 5px;
	position: absolute;
}
.ttab td {
	height: 50px;
	text-align: center;
}
.hotp{
	width: 60px;
}
table{
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;	
	align:center;
}

td{   
    word-break: break-all;
    word-wrap: break-word;
	
}
#tab th{
	background: #eee;
	
}
#tab td{
    background: #ffffff;
	border-bottom: 1px dashed #aaa;
}
.dltable{
	position: absolute;
	left: 270px;
	top: 200px;
}
.dltable td{
	height: 40px;
	text-align: center;
}
.dlbtt{
	width: 70px;
	height: 40px;
}
.tab5 tr{
	height: 50px;
}
.tab8 tr {
	height:30px;
}
