<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>house</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseServlet</display-name>
    <servlet-name>HouseServlet</servlet-name>
    <servlet-class>servlet.HouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseServlet</servlet-name>
    <url-pattern>/HouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexServlet</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>servlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryServlet</display-name>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHouseServlet</display-name>
    <servlet-name>AdminHouseServlet</servlet-name>
    <servlet-class>servlet.AdminHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHouseServlet</servlet-name>
    <url-pattern>/AdminHouseServlet</url-pattern>
  </servlet-mapping>
</web-app>